.card-box {
	display: flex;
	flex-flow: row wrap;
/*
	justify-content: space-evenly;
*/
}

.card {
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	transition: 0.3;
	margin: 4px 4px;
	flex-grow: 1;
	flex-basis: 0;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
	padding: 2px 16px;
	}

.card-footer {
	padding: 10px 10px
}

.card-link:link {
	color: black;
  text-decoration: none;
}

.card-link:visited {
	color: black;
  
  text-decoration: none;
}

.card-link:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

